/* Artfully masterminded by ZURB  */

/* --------------------------------------------------
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/*


!important

This is being watched by Gulp and added to the build folder. Run gulp in the root directory to have styles showup.

!important

*/

body::before {
	content: "";
	display: block;
	width: 100%;
	background: linear-gradient(-45deg, #db2127, #7d2571, #cd722e, #dfc172);
	height: 3px;
}

h1,h2,h3,h4 {
	font-family:'Oswald',Helvetica, Helvetica Neue, Arial, sans-serif;
}

header {
	background: #2e2563;
	padding:20px;
	min-height: 50vh;
	display: flex;
	align-items: center;
  justify-content: center;
	background: linear-gradient(-45deg, #2e2563, #7d2571);
	background-size: 400% 400%;
	animation: HeaderAnimation 7s ease infinite;
	transition: all 1s ease-in;
}
@-webkit-keyframes HeaderAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@-moz-keyframes HeaderAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}
@keyframes HeaderAnimation {
    0%{background-position:0% 2%}
    50%{background-position:100% 99%}
    100%{background-position:0% 2%}
}



/*// Small screens*/
/* @media only screen {
	header > * {
		width: calc(100% * (3/4) - 10px - 1px);
	}
} */

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
	header > * {
		width: calc(100% * (2/3) - 10px - 1px);
	}
}

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
	header > * {
		width: calc(100% * (1/2) - 10px - 1px);
	}
}

/*this is the wrapper for the main content*/
.wrap {
	background:white;
	-webkit-box-shadow:  0px 0px 10px 0px #000000;
	box-shadow:  0px 0px 10px 0px #000000;
}

.top-bar .name h1 a:before {
    background-image: url('../images/logo_small_menu1.png');
    background-repeat: no-repeat;
    content: "";
    display: inline-block;
    height: 18px;
    margin-right: 10px;
    position: relative;
    width: 18px;
}

#headerslider {
	border-bottom:1px solid #CCCCCC;
}

#headerslider::before {
	content: "";
	display: block;
	width: 100%;
	background: linear-gradient(-45deg, #db2127, #7d2571, #cd722e, #dfc172);
	height: 3px;
}


.info {
	text-align: center;
	padding-top: 10px;
}

.info p {
	text-align: left;
	padding: 0px 15px;
}

.info h2 {
	font-family:'Oswald',Helvetica, Helvetica Neue, Arial, sans-serif;
	font-size: 3em;
}

.info h2::after {
	content: "";
	margin-top: 15px;
	display: block;
	width: 100%;
	background: linear-gradient(-90deg, #7d2571, #2e2563);
	height: 3px;
}

.day {
	border-bottom:3px solid #dfc172;
	line-height:200%;
	font-family:'Oswald',Helvetica, Helvetica Neue, Arial, sans-serif;
}

.register {
	background:#dfc172;
	color:#2e2563;
}

.register a:hover {
	color:#2e2563;
}

li.register > a {
	color:#2e2563;
}

li.register > a:hover {
	color:#dfc172;
}

a.xlarge.round.register.button:hover {
	color:#2e2563;
}

.subnavstick {
	z-index:39;
	text-align:center;
}

/*ul.gallery li img:hover {
	border:3px solid #dfc172;
}*/

/*dl.sub-nav dd a {
	background:#FFFFFF;
	padding: 3px 9px;
	-webkit-box-shadow:  0px 0px 3px 0px #000000;
	box-shadow:  0px 0px 3px 0px #000000;
}

dl.sub-nav dd.active a {
	font-weight:normal;
}*/


.xlarge {
	font-size: 22px;
}

.register-today {
	padding:30px;
	margin:10px auto;
	display:block;
	max-width: 100%;
	margin: 0 auto;
	text-align:center;
}

/*.committee {
	border-top:1px solid #927976;
	padding:10px;
}*/

.nav-bar>li {
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}

/*---------------------------------
Sponsors in footer
------------------------------------*/

/*flexbox working*/

.sponsor_row {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	align-items: center;
	padding:10px;
}

.sponsor a img {
	width: 100%;
	height: auto;
	padding: 5px;
}


/*// Small screens*/
@media only screen {
	.gold_sponsors  > .sponsor{
		width: calc(100% * (1/2) - 10px - 1px);
	}

	.silver_sponsors  > .sponsor{
		width: calc(100% * (1/2) - 10px - 1px);
	}

	.bronze_sponsors  > .sponsor{
		width: calc(100% * (1/3) - 10px - 1px);
	}

	.chrome_sponsors  > .sponsor{
		width: calc(100% * (1/3) - 10px - 1px);
	}

 }

/*// Medium screens*/
@media only screen and (min-width: 40.063em) {
	.signature_sponsors > .sponsor{
		width: calc(100% * (1/2) - 10px - 1px);
	}
	.platinum_sponsors > .sponsor{
		width: calc(100% * (1/3) - 10px - 1px);
	}

	.gold_sponsors  > .sponsor{
		width: calc(100% * (1/3) - 10px - 1px);
	}

	.silver_sponsors  > .sponsor{
		width: calc(100% * (1/4) - 10px - 1px);
	}

	.bronze_sponsors  > .sponsor{
		width: calc(100% * (1/5) - 10px - 1px);
	}

	.chrome_sponsors  > .sponsor{
		width: calc(100% * (1/5) - 10px - 1px);
	}
 }

/*// Large screens*/
@media only screen and (min-width: 64.063em) {
	.signature_sponsors > .sponsor{
		width: calc(100% * (1/3) - 10px - 1px);
	}

	.platinum_sponsors > .sponsor{
		width: calc(100% * (1/4) - 10px - 1px);
	}

	.gold_sponsors  > .sponsor{
		width: calc(100% * (1/5) - 10px - 1px);
	}

	.silver_sponsors  > .sponsor{
		width: calc(100% * (1/6) - 10px - 1px);
	}

	.bronze_sponsors  > .sponsor{
		width: calc(100% * (1/7) - 10px - 1px);
	}

	.chrome_sponsors  > .sponsor{
		width: calc(100% * (1/7) - 10px - 1px);
	}
 }
/*---------------------------------
Speaker page
------------------------------------*/

.speaker {
	padding: 10px 5px;
}

.speaker:hover {
	border-bottom:solid 4px #dfc172;
	background:#F8F8F8;
	padding-bottom:6px;
}

.speaker-image {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	-webkit-box-shadow:  0px 0px 3px 0px #000000;
	box-shadow:  0px 0px 3px 0px #000000;
}

.button.success {
	color:#927976;
	background-color:#CCCCCC;
	border:1px solid #888888;
}

.success:hover {
	color:#927976;
}

.nounderline {
	border-bottom:none !important;
}

/*----------------------------------------
Schedule page
----------------------------------------*/

.schedule_title {
	/*border-bottom:solid 2px #CCCCCC;*/
	color:#cd722e !important;
	padding:10px;
}

.schedule_subtitle {
	color:#7e2572 !important;
}

.planner {
	color:#cd722e !important;
}

.copy {
	color:#707070 !important;
}

.cle {
	background:#FFFFFF;
}

.highlights > li > div {
	border: 1px solid #FFFFFF;
	padding: 10px;
	margin: 5px;
	background: #F8F8F8;
	color:#404040;
	box-shadow: 0 0 0 4px hsla(43, 63%, 66%,.3);
}

.sched_highlighted {
	padding: 3px 8px;
	background: linear-gradient(-45deg, #cd732e4d, #dfc0724d);
	word-wrap: none;
	white-space: nowrap;
	border-bottom:2px solid #dfc172;
}

.sched_lead {
	margin: 20px 0px 30px;
	line-height: 175%;
	font-size: 1.25em;	
}

/* .voting {
	background: #f2e2ca !important;
	border:1px solid #f8ce8f;
} */

/* -----------------------------------------
   background cover all
----------------------------------------- */

/* .section::before {
	content: '';
	background: linear-gradient(-45deg, #2e2563, #7d2571);
	display: block;
	background: $grad;
	height: 8px;
	width: 100%;
} */

#about {
	background: #FFFFFF;
	padding:20px;
}

#twentytwelve {
	padding:20px;
	background: linear-gradient(-45deg, #cd722e, #dfc172, #db2127);
}

#venue {
	padding:20px;
	background: #FFFFFF;
}

#sponsors {
	padding:20px;
	background: radial-gradient(#db2127, #7d2571, #cd722e, #dfc172);

}

.sections_with_bg {
	background:#FFFFFF;
	padding:50px;
}

.schedule_with_bg {
	background:#FFFFFF;
	padding:50px;
}

@media only screen and (max-width: 40em) {

	.schedule_with_bg {
		padding:0px;
	}

}

.sections_without_bg {
	padding:50px;
}

.sections_with_bg h3 {
	/* border-bottom:2px solid #927976; */
	padding:10px 0px;
	font-size: 2em;
}

.sections_with_bg h3::after {
	content: "";
	margin-top: 15px;
	display: block;
	width: 100%;
	background: linear-gradient(-45deg, #db2127, #7d2571, #cd722e, #dfc172);
	height: 3px;
}

.sections_without_bg h3 {
	/* border-bottom:2px solid #927976; */
	padding:10px 0px;
	font-size: 2em;
}

.sections_without_bg h3::after {
	content: "";
	margin-top: 15px;
	display: block;
	width: 100%;
	background: linear-gradient(-45deg, #db2127, #7d2571, #cd722e, #dfc172);
	height: 3px;
}



/* -----------------------------------------
   Page Name 1
----------------------------------------- */

footer {
	background:#2e2563;
	background: linear-gradient(-20deg, #000000, #2e2563);
	padding:20px;
	border-top:3px solid #CCCCCC;
}

.footersecs {
	color:#ededed;
}

.footersecs h5 {
	padding:10px 0px;
	color:#d8ab66;
}

.footersecs p a {
	color:#B0B0B0;
}

.footersecs p a:hover {
	color:#927976;
}

footer > div > div > ul > li > span.label {
	color:#000000;
}

/* -----------------------------------------
   Pricing Tables Sponsors
----------------------------------------- */

.quoted {
	font-size: 1.5em;
}

@media only screen and (max-width: 40.063em) {
	.quoted {
		font-size: 1.25em;
	}
}

.bullet-item:nth-child(even){
	background-color: #F8F8F8;
}

.active-tb {
  position: relative;
  box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
  transform: scale(1);
  border: 0;
  transition: 0.4s ease;
  z-index: 13; }
  .active-tb:hover {
    position: relative;
    box-shadow: 0px 2px 10px 0px rgba(50, 50, 50, 0.5);
    transform: scale(1.1);
    border: 0;
    z-index: 15; }

/* -----------------------------------------
   Owl Carousel
----------------------------------------- */

.owl-carousel .item{
  margin: 3px;
}
.owl-carousel .item img{
  display: block;
  width: 100%;
  height: auto;
}

/* -----------------------------------------
Attendee Page
----------------------------------------- */

.attendeelist li {
	padding:10px;
	/*border-bottom: 1px solid #CCCCCC;*/
}

@media only screen and (max-width: 480px){
	.overflowfix {
	  max-width: 275px;
	  white-space: nowrap;
	  overflow: hidden;
	  text-overflow: ellipsis;
	}
}

.attendeelist li:nth-child(odd) {
 background-color: #F8F8F8;
}
